<h1 class="sub-header">Listing Responses</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% controller.user_responses.each do |response| %>
        <tr>
          <td><%= response.event.name %></td>
          <td><%= response.event.date %></td>
          <td><%= response.event.time %></td>
          <td><%= link_to 'Acept', users_response_accept_path(response), method: :post, class: "btn btn-xs btn-info" %></td>
          <td><%= link_to 'Cancel', users_response_cancel_path(response), method: :post, class: "btn btn-xs btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Back', users_teams_path, class: "btn btn-default" %>
</div>