<%= form_for([:owners, @field], :html => {:class => "form-newfield"}) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name", :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :address, :placeholder => "Address", :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :telephone, :placeholder => "Telephone", :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Field", :class => "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>