<div class="form-newfield">
  <div class="starter-template">

    <p class="lead" id="notice"><%= notice %></p>

    <p class="lead">
      <strong>Name:</strong>
      <%= @field.name %>
    </p>

    <p class="lead">
      <strong>Address:</strong>
      <%= @field.address %>
    </p>

    <p class="lead">
      <strong>Telephone:</strong>
      <%= @field.telephone %>
    </p>

    <%= link_to 'Edit', edit_owners_field_path(@field), class: "btn btn-warning" %> |
    <%= link_to 'Back', owners_fields_path, class: "btn btn-default" %>

  </div>
</div>