<%= form_for(resource, as: resource, url: session_path(resource), :html => {:class => "form-signin"}) do |f| %>
  <h1 class="form-signin-heading">Sign in</h1>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, :class => "form-control" %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "off", :class => "form-control" %></div>

  <div><%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block" %></div>
<% end %>

