<div class="starter-template">
  <h1 class="text-center">Name: <%= @event.name %></h1>
  <h2 class="text-center">Date and Time: <%= @event.created_for %></h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="text-center">Players</th>
      <th class="text-center">Responses</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @event.users.each do |player| %>
      <tr>
        <td class="text-center"><%= player.email %></td>
        <td class="text-center"><span class="<%= player.events_state(@event) %>"><%= player.events_state(@event) %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><%= link_to 'Back', users_team_events_path, class: "btn btn-default" %>