<div class="starter-template">
  <h1 class="text-center">Name: <%= @event.name %></h1>
  <h2 class="text-center">Date and Time: <%= @event.created_for %></h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th><span class="text-size">Players</span></th>
      <th><span class="text-size">Responses</span></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @event.users.each do |player| %>
      <tr class="<%= player.events_state(@event) %>">
        <td><span class="text-size"><%= player.email %></span></td>
        <td><span class="text-size"><%= player.events_state(@event) %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><%= link_to 'Back', users_team_events_path, class: "btn btn-default" %>