<div class="starter-template"><h1 class="sub-header">Listing teams</h1></div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, users_team_path(team), title: 'show the players for this team', rel: 'tooltip' %></td>
        <td><%= link_to '', new_users_team_event_path(team), class: 'fa fa-calendar fa-2x', title: 'reserve a field for this team', rel: 'tooltip' %></td>
        <td><%= link_to '', edit_users_team_path(team), class: 'fa fa-pencil fa-2x', title: 'edit the team', rel: 'tooltip' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Team', new_users_team_path, class: "btn btn-success" %>
<%= link_to 'Back', users_home_welcome_path, class: "btn btn-default" %>