<div class="starter-template"><h1 class="sub-header">Listing teams</h1></div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= link_to 'Field reserve', new_users_team_event_path(team), class: "btn btn-xs btn-danger" %></td>
          <td><%= link_to 'Add Players', new_users_team_notification_path(team), class: "btn btn-xs btn-success" %></td>
          <td><%= link_to 'Show', users_team_path(team), class: "btn btn-xs btn-info" %></td>
          <td><%= link_to 'Edit', edit_users_team_path(team), class: "btn btn-xs btn-warning" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Team', new_users_team_path, class: "btn btn-success" %>
</div>