<div class="starter-template"><h1 class="sub-header"><%= @team.name %></h1></div>
<h2 class="text-center">Listing Players</h2><br><br>
<div class="col-md-4 column">
</div>
<div class="col-md-4 column">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Mail</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @team.users.each do |team_user| %>
          <tr>
            <td><%= team_user.email%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><br><br>
  <%= link_to 'Add Players', new_users_team_notification_path(@team), class: "btn btn-success" %> |
  <%= link_to 'Show Reservations', users_team_events_path(@team), class: "btn btn-info" %> |
  <%= link_to 'Back', users_teams_path, class: "btn btn-default" %>
</div>
<div class="col-md-4 column">
</div>