<br><br><div class="text-center"><h1 class="sub-header"><%= @team.name %> <i><%= link_to '', users_team_events_path(@team), class: 'fa fa-search', title: 'Show all events', rel: 'tooltip' %></i></h1></div><br>
<h2 class="text-center">Listing Players</h2>
<div class="col-md-4 column">
</div>
<div class="col-md-4 column">
  <table class="table">
    <thead>
      <tr>
        <th><span class="text-size">Mail</span></th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @team.users.each do |team_user| %>
        <tr>
          <td><span class="text-size"><%= team_user.email %></span></td>
          <% if current_user.email_equal_to(team_user) %>
            <td><%= link_to '', users_team_path, method: :delete, class: 'fa fa-ban', title: 'Leave this team', rel: 'tooltip' %> </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-right"><%= link_to '', users_home_welcome_path, class: 'fa fa-arrow-circle-o-left fa-2x' %></div>
</div>
<div class="col-md-4 column">
</div>