<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Owners", owners_home_welcome_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-form navbar-right">
      <div class="form-group">
      <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
          <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class => "form-control" %>
          <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => "form-control" %>
          <%= f.submit "Sign in", :class => "btn btn-success" %>
      <% end %>
      </div> |
      <div class="form-group"><i class="fa fa-user fa-2x"></i> <%= link_to "Sign Up", new_user_registration_path %></div>
    </div>
  </div>
</div>