<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Home", users_home_welcome_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-form navbar-right">
      <%= link_to "", users_notifications_path, class: "fa fa-envelope fa-2x" %> |
      <span class="badge"><%= current_user.total_notifications %></span> |
      <span class="starter-template color-text">Signed in as <%= current_user.email %>. Not you?</span>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>