<!DOCTYPE html>
<html>
  <head>
    <title>Futbol</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
        <%= render 'users/application/navbar' %>
    <% else %>
        <%= render 'navbar' %>
    <% end %>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
